@{
    ViewData["Title"] = "Política de privacidad";
}


<h1>@ViewData["Title"]</h1>
<p> </p>

<h2>Ley de VideoJuegos Argentina. Ley 26.013</h2>
<p> </p>
<p>Establécese que los fabricantes y/o importadores de videojuegos deberán 
    colocar en los envases en que comercialicen dichos productos la leyenda 
    «La sobreexposición es perjudicial para la salud», como también la correspondiente calificación.

    Sancionada: Junio 1 de 2005

    Promulgada de Hecho: Julio 15 de 2005

    El Senado y Cámara de Diputados de la Nación Argentina reunidos en Congreso, etc.
    Sancionan con fuerza de Ley
</p>